*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
.idea
wandb.key
wandb
exp
body_models
tools
scripts
SIBR_viewers
/smplx/
/zju_root/

/2312.09228.pdf
/test.py
/models_pretrained/
/data/
/out/
/test/
/videos/
/scene_sequences/
/bone_transform_02v.npy
/build_dataset/datasets/
/build_dataset/runs/
/build_dataset/seg_data/
/build_dataset/masks_dance2.npy
/build_dataset/yolov8n.pt
/build_dataset/yolov8n-seg.pt
/build_dataset/yolov8x-seg.pt
/smpl_data/
